<html>
<head>
<title>
</title>
<style>
body{margin: 0px;background-image: url(IDR_THEME_NTP_BACKGROUND.png);background-image-repeat; background-color: #e9e9e9;}
h1{text-align:center;font-family:cursive}
#baner{background-image:url(banner.jpg);     padding: 11%;
    height: 2%;}
#container{    display: flex;
    padding-left: 5%;
    border-top: solid;
    border-color: #cad0ce;
    margin-top: 20px;}
p{margin: 24px;
    padding: 15px;}
	#footer{background-color: #cdd6d6;
    padding: 3%;
    margin: 0px;
    position: relative;
    bottom: 0px;

</style>
</head>
<body>
<h1>welcome Home</h1>
<%= link_to 'about',about_path %>

<div id="baner">

</div>
<div id="container">
<p>Thanks to your vigilance and unceasing prayers, it took only 12 hours for the whole world to see that MEC’s public assurance that no rigging would happen was an empty promise. This happened when an officer of MEC itself was arrested in Nsanje for tampering with result sheets for multiple polling centers. That same day, I sent a delegation of MCP officials to MEC to lodge a verbal complaint in person, followed by a written complaint about multiple polling centers where similar acts of fraud had been observed. When we saw that there was no response from MEC after two nights, we had no choice but to turn to the High Court, which issued a stay order stopping MEC from announcing any presidential results until our complaints had been addressed</p>
<hr/>
<p>To everyone’s shock, instead of responding to the court order by addressing our complaints, MEC responded by partnering its lawyers with DPP lawyers to lift the court order so that the presidential results could be announced without resolving our complaints. MEC then launched a smear campaign against us by publicly claiming that we never even submitted any complaints to them in the first place. And so, on Monday night, during a regular press briefing by the Chair of the Malawi Electoral Commission, we all learned from her that our court order had been lifted, well before our lawyers had even been informed. Twenty minutes later, she reappeared with a statement that had already been fully prepared to declare Mutharika the winner of the 2019 Elections.</p>
</div>
<div id="footer">
footer :footer stuff and what not
</div>

</body>
</html>